body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: navajowhite;
    margin: 0;
}

@media all and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .site {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 10;
    margin: 20px;
    background-color: navajowhite;
    border: solid 2px grey;
    padding: 10px;
    }

    .hidden_picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 555px;
    height: 370px;
    }

    article {
    padding: 10px;
    font-size: 1em;
}

    aside{
        display: none;
    }
}

@media screen and (min-device-width: 1200px) { 

    .site {
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 800px;
        margin: 10px;
    }

    main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: navajowhite;
    border: solid 2px grey;
    padding: 10px;
    }

    article {
    padding: 10px;
}

    .hidden_picture {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 555px;
        height: 370px;
        background: url("../img/banana_pie1.jpg");
        }

    aside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url("../img/Banana.png");
        margin-top: 10px;
        margin-bottom: 30px;
        width: 260px;
        border: solid 2px grey;

    }
}






header {
    display: flex;
    background-color: black;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    margin: 0;
    size: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: grey;
    height: 55px;
    margin: 0;
    padding: 0;
}

.nav_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    height: 55px;
    text-decoration: none;
}

.nav_text{
    font-size: 2em;
    color: white;
}

.nav_content:active{
    background-color: #261E1E;
}

.hide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 370px;
    width: 555px;
    background-color: black;
    color: white;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    padding: 0px;
    margin-bottom: 20px;
    font-size: 1.5em;
}